[Desktop Entry]
Type=Application
Exec=/joel/kitchen_dashboard/startup/run_on_boot.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=KitchenDashboard
